@keyframes fade {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

.loop-text {
    position: fixed;
    height: 100vh;
    width: 100%;
    top: 0;
    left: 0;
    overflow: hidden;

    p {
        position: absolute;
        opacity: 0;
        transition: 0.05s ease - out;
        font-size: 80px;
        font-weight: 600;
        font-family: poppins;
        color: #ffffff;

        &.show {
            opacity: 1;
        }

    }
}
.loader {
    opacity: 1;
    transition: opacity 0.5s ease-out; /* Set the transition property */
  }
  
  .loader.hidden {
    opacity: 0;
  }
.bannerSec {
    padding-top: 200px;

    &_main {
        h1 {
            font-size: 86px;
            font-family: font(sb);
            text-align: center;
            margin-bottom: 50px;
            position: relative;

            &:first-child {
                position: relative;
                display: inline-block;
                margin-bottom: 20px;
                padding-left: 130px;

                img {
                    position: absolute;
                    left: 0;
                    top: -30px;
                }
            }
        }


        &_img {
            text-align: center;
            position: relative;
            max-width: 670px;
            margin: 0 auto;
        }

        &_tagline {
            color: #868687;
            font-size: 28px;
            text-align: center;
            line-height: 1.4;
            margin: 25px 0;

            span {
                &.text1 {
                    color: color(50);
                }

                &.text2 {
                    color: #8975FF;
                }

                &.text3 {
                    color: #F65D1A;
                }
            }
        }

        &_circle {
            position: absolute;
            top: 100px;
            left: -140px;
            animation: animName 6s linear infinite;
        }

        @keyframes animName {
            0% {
                transform: rotate(0deg);
            }

            100% {
                transform: rotate(360deg);
            }
        }
    }

    &_leftimg {
        top: 0;
        left: 160px;

        p {
            font-size: 18px;
            transform: rotate(-90deg);
            transform-origin: 0 0;
            position: absolute;
            top: 89%;
            left: -30px;
        }
    }

    &_rightimg {
        top: 215px;
        right: 0;

        p {
            margin-top: 15px;
            font-size: 18px;
        }
    }

    .path {
        stroke-dasharray: 1600;
        stroke-dashoffset: 1600;
    }

    .animate {
        animation: dash 3s linear forwards;
    }

    @keyframes dash {
        from {
            stroke-dashoffset: 1600;
        }

        to {
            stroke-dashoffset: 0;
        }
    }
}

.aboutUs {
    &_text {
        text-align: center;
        padding: 0 35px;
        margin-bottom: 100px;

        h2 {
            font-size: 90px;
            line-height: 1.2;

            img {
                height: 80px;
                margin-top: -20px;
            }
        }
    }

    .counter {
        h2 {
            font-size: 160px;
            font-family: font(bd);
            color: color(50);
            display: flex;
            align-items: top;

            span {
                font-size: 70px;
                display: block;
                padding-left: 20px;
                padding-top: 15px;
            }
        }

        p {
            font-size: 20px;
            font-family: font(lt);
            color: #868687;
            line-height: 1.3;
        }

        &-first {
            h2 {
                font-size: 260px;

                span {
                    font-size: 130px;
                }
            }
        }
    }
}

.workedExp {
    padding-bottom: 140px;
    background-image: url('#{$imageurl}/square-bg.svg');
    background-size: auto;
    background-repeat: no-repeat;
    background-position: left -472px bottom 0;

    &_expList {
        ul {
            li {
                border-bottom: 1px solid rgba(#868687, 0.30);
                padding: 30px 0;
            }
        }

        &_info {
            p {
                font-size: 28px;
                font-family: font(lt);
                line-height: 1.3;
                margin-left: 30px;
            }
        }

        .designation,
        .duration {
            font-size: 20px;
            font-family: font(lt);
            color: #868687;
        }
    }
}

.sticky-parent {
    height: 400vh;
}

.sticky {
    position: sticky;
    padding-top: 20px;
    top: 0px;
    max-height: 100vh;
    overflow-x: hidden;
    overflow-y: hidden;
}

.dim {
    display: block;
    min-width: 33.33%;
    height: 875px;
}

.horizontal {
    display: flex;
}

.br {
    outline: solid;
}

@media (max-width: 620px) {
    .dim {
        display: block;
        min-width: 100vw;
        height: 100vh;
    }
}